html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  /* margin: 5px; */
  font: 21px Arial italic;
  background-image: url("image/fon-game.jpeg");
}

.index-page {
  display: grid;
  grid-template-columns: 20 1fr;
  grid-template-rows: 20 1fr;
  place-items: center;
}

#mainMenu {
  margin: 0px auto;
  margin-top: 15%;
  border: 1px solid green;
  height: 30%;
  width: 40%;
  background-color: greenyellow;
}
#gameMenu{
  border: 1px solid green;
  height: 30%;
  width: 40%;
  background-color: greenyellow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#game-page{
  margin: 0px auto;
  margin-top: 5%;
  height: 60%;
  width: 45%;
  background-color: white;
}
#area {
  margin-right: 20%;
  width: 60%;
  height: 100%;
  background-color: white;
  position: relative;
}

#areaGame {
  background-color: black;
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  place-items: stretch;
}
.AreaBox{
  background-color: black;
}
/* .WallsBox{
  background-color: white;
} */
#score {
  display: inline;
  margin-top: -5%;
  margin-left: 65%;
}
#result{
  display: inline;
  width: 5%;
}
.zagalovok {
  text-align: center;
  color: darkgreen ;
}

.clearlist  {
  list-style-type: none;
}

.clearlist0 {
  margin-left: 0;
  padding-left: 0;
  margin-right: 32%;
}

.stylebutton {
  font: 21px Arial;
  width: 150px;
  height: 30px;
  display: block;
  margin: 5px;
  margin-left: auto;
  margin-right: 5%;
  background-color: darkgreen;
  color: white;
  
}
#esc-btn{
  width: 55px;
  margin-left: 5%;
}
#play-btn {
  margin-top: 50px;
}

#con-btn {
  margin-top: 50px;
}

.hidden {
  display: none;
}
.food {
  background-color: brown;
}
.head {
  background-color: green;
}
.tail {
  background-color: lawngreen;
}
